body {
    background-color: #2B3A42;
}

#clockHeading{
    color: #DEC7BD;
    font-size: 5vw;
}

#clock {
    color: #EFEFEF;
    font-size: 7vw;
}

#selectHeading{
    color: #DEC7BD;
    font-size: 4vw;
}
